body{
    background-color: rgb(250, 250, 250);
    margin: 0px;
}

header{
    width: 100%;
    height: 36px;
    background-color: rgb(255, 255, 255);
    padding: 12px 0px;
    border-bottom: 1px solid rgb(239, 239, 239);
    margin-top: 0%;
    top: 0;
    position: fixed;
    z-index: 10;
    
    
}

header .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    
}

.wrapper{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    flex-shrink: 0;
}

header.wrapper.insg-logo{
    height: 29px;
}

header .wrapper .insg-logo img {
    height: 36px;
    
}

.insg-logo{
    margin-right: 15px;
}


header .wrapper .navigation{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
}

header .wrapper .navigation ul{
    display: flex;
    width: 250px;
    justify-content: space-between;
    
}

header .wrapper .navigation ul{
    padding: 0 0 0 15px;
}

header .wrapper .navigation ul li{
    list-style-type: none;
    cursor: pointer;
}

header .wrapper .navigation .icons ul .p-logo img{
    height: 24px;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid red;
    box-sizing: border-box;
}

header .wrapper .navigation .search input{
    height: 16px;
    width: 260px;
    color: black;
    background-color: rgb(239, 239, 239);
    border-radius: 8px;
    outline: 0px;
    border-style: none;
    font-size: 16px;
    padding: 10px 10px 10px 40px;

}

header .wrapper .navigation .search{
    
    /* min-width: 150px; */
    position: relative;

}

.icons ul li{

    position: relative;
}

.icons ul li.active::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    bottom: -5px;
    right: 10px;
    
}


header .wrapper .navigation .search img{
    position: absolute;
    left: 16px;
    top: calc(50% - 8px);
    height: 16px;
    
}






.profile{
    margin-top: 100px;
}


.profile .wrapper{
    margin-top: 30px;
}

.profile .wrapper .p-photo{
    width: 225px;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.p-firstline p{
    font-size: 28px;
    font-family: 'raleway', sans-serif;
}

.p-firstline button{
    height: 30px;
    font-size: 14px;
    background-color: rgb(250, 250, 250);
    border: 1px solid gray;
    border-radius: 3px;
    margin: 1px 18px;
    cursor: pointer;
}

.p-firstline{
    width: 100%;
    height: 40px;
    
}

.p-photo div img{
    border-radius: 50%;
    height: 150px;
    margin: 0 55px;
    cursor: pointer;
}

#p-align{
    display: flex;
}

.p-firstline{
    display: flex;
    align-items: center;
}

.p-firstline button{
    height: 30px;
    font-size: 14px;
    background-color:rgb(250, 250, 250);
    border: 1px solid gray;
    border-radius: 3px;
}

.p-secondline{
    display: flex;
}

.p-secondline p{
    margin-right: 40px;
    font-family: 'raleway', sans-serif;
    font-size: 16px;
}

span{
    font-weight:600;
}

.p-thirdline{
    font-family: 'raleway', sans-serif;
    font-size: 16px;

}




.content .wrapper{
    border-top: 1px solid rgb(196, 192, 192);
}

.content-head{
    display: flex;
    /* position: relative; */
    width: 100%;
    max-width: 430px;
    height: 53px;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin: 0 auto;
    font-family: 'raleway',sans-serif;
    /* font-weight: 700px; */
}

.c-line{
    display: flex;
}

.c-line p{
    margin-left: 6px;
}







.content .wrapper .main .di div{
    height: 310px;
    width: 310px;
}



.content .wrapper .main .di{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content .wrapper .main div img{
    height: 310px;
    width: 310px;
}

.main .di .pics1{
    position: relative;
}

.pics2{
    position: relative;
}

.pics3{
    position: relative;
}

.pics4 {
    position: relative;
}

.pics5 {
    position: relative;
}

.pics6 {
    position: relative;
}

.pics9 {
    position: relative; 
}





@media (max-width: 540px){
    header .wrapper .navigation .search{
        display: none;
    }

    .wrapper{
        max-width: 500px;
    }

    .content .wrapper .main div img{
        height: 140px;
        width: 140px;
    }
    
    .content .wrapper .main .di div{
        height: 140px;
        width: 140px;
    }
}


