body{
    margin: 0px;
    font-family: sans-serif;
}

header{
    background-color: green;
    width: 100%;
    top: 0;
    margin-top: 0px;
    padding: 20px 0px;
}

header div {
    width: 500px;
    margin: 0px auto;
    bottom: 0px;
}

header div ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

header div ul li{
    letter-spacing: 2px;
}

a{
    text-decoration: none;
    color: white;
}

.drop{
    position: absolute;
    background-color: green;
    top: 70px;
    height:fit-content;
    width:fit-content;
    border-radius: 6px;
    display: none;

}

.drop ul{
    display: list-item;
    margin: 10px 10px;
}

.drop ul li{
    line-height: 30px;
    border-bottom: 1px solid white;
    padding: 0px 35px;
}

.drop ul li:last-child{
    border-bottom: none;
}

form {
    margin: 30px;
}




form {
    width: 45%;
    margin: 5rem auto;
    background-color: beige;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 5px 15px black;
    box-sizing: border-box;
}

legend{
    font-size: 1.3rem;
    font-weight: bold;
}

label{
    display: block;
}

fieldset {
    border-radius: 15px;
    margin-bottom: 1rem;
    padding:1rem 3rem;
}

button{
    margin: 10px auto;
    display: block;
}
